
<div id="maincontainer">
    <div id="subcontainer">
        <div>
            <h1 id="startHeading"> Fitts law Experiment </h1>
        </div>
        <div id="introtext" *ngFor="let i of someValue" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sit itaque, quo labore aspernatur, unde dolores accusamus impedit explicabo laudantium quibusdam odio, eius id nulla repellat! Itaque aliquam minus ut.
        </div><br>
        <div id="buttoncontainer">
            <div id="button" [routerLink]="['start']"> Start </div>
        </div>
        
    </div> 
</div>

